### Class em python ===========

In [1]:
def helloWorld():
  name = 'Aceleração Gloval #4 - Everis'
  print( name )

helloWorld()

Aceleração Gloval #4 - Everis

In [2]:
def calcBalada( age ):
      
  if( age >= 18 ):
    print('Beleza, pode entrar na balada');
  else:
    print('Vaza, volta aqui mais tarde !');

calcBalada( 28 )

Beleza, pode entrar na balada

In [3]:
def forExample():
  
  # Definindo o array
  names = ['Huguinho', 'John', 'John 2'];

  for name in names:
    print( ' Aceleração global - ' + name )

# Invocando a função
forExample()

 Aceleração global - Huguinho
 Aceleração global - John
 Aceleração global - John 2

In [4]:
def mapExample():

  person1 = {
      'name' : 'Huguinho',
      'title' : 'Expert IT Techonology'
  };

  for key in person1:
    print('key', key, ' | value', person1[ key ] )

mapExample()

key name  | value Huguinho
key title  | value Expert IT Techonology

In [5]:
def forWithMap():

  person1 = {
      'name' : 'Huguinho',
      'title' : 'Expert IT Techonology'
  };

  person2 = {
      'name' : 'User 2',
      'title' : 'Student from everis Aceleration'
  };

  lista = [];
  lista.append( person1 );
  lista.append( person2 );

  print('tamanho do array', len( lista ) );

  for obj in lista:
    print('Nome: ', obj['name'], ' | title: ', obj['title'] );

forWithMap();

tamanho do array 2
Nome:  Huguinho  | title:  Expert IT Techonology
Nome:  User 2  | title:  Student from everis Aceleration

### Processamento com pandas ========

In [6]:
import pandas as pd

def createDataframe():

  map = {
      "name" : ["Huguinho", "Student 1", "Student 2"],
      "age" : [ 28, 18, 32 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro"]
  }

  df = pd.DataFrame( map );

  print( df );

createDataframe()

        name  age        location
0   Huguinho   28          Santos
1  Student 1   18       São Paulo
2  Student 2   32  Rio de Janeiro

In [7]:
def iterateDataframe():

  map = {
      "name" : ["Huguinho", "Student 1", "Student 2"],
      "age" : [ 28, 18, 32 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro"]
  }

  df = pd.DataFrame( map );

  # não indicado para alto volume de dados ( somente para conhecimento )
  for index in df.index:
    print("item", df["name"][ index ], " | index", index  );

iterateDataframe()

item Huguinho  | index 0
item Student 1  | index 1
item Student 2  | index 2

In [8]:
def addColumnDataframe():

  map = {
      "name" : ["Huguinho", "Student 1", "Student 2"],
      "age" : [ 28, 18, 32 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro"]
  }

  df = pd.DataFrame( map );

  # adicionando uma nova coluna
  address = ['Rua de teste 1', 'Rua de teste 2', 'Rua de teste 3'];

  df['address'] = address;

  print( df )

addColumnDataframe()

        name  age        location         address
0   Huguinho   28          Santos  Rua de teste 1
1  Student 1   18       São Paulo  Rua de teste 2
2  Student 2   32  Rio de Janeiro  Rua de teste 3

In [9]:
def removeColumnDataframe():

  map = {
      "name" : ["Huguinho", "Student 1", "Student 2"],
      "age" : [ 28, 18, 32 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro"]
  }

  df = pd.DataFrame( map );

  # Removendo a linha pelo índice
  df = df.drop(1)

  print( df )

  print("---------------------------")

  # Removendo a coluna
  df = df.drop( columns=["age"] );

  print ( df );

removeColumnDataframe()

        name  age        location
0   Huguinho   28          Santos
2  Student 2   32  Rio de Janeiro
---------------------------
        name        location
0   Huguinho          Santos
2  Student 2  Rio de Janeiro

In [10]:
def filterDataframe():

  map = {
      "name" : ["Huguinho", "Student 1", "Student 2", "Student 3", "Student 4"],
      "age" : [ 28, 18, 32, 17, 14 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro", "São Paulo", "São Paulo"]
  }

  df = pd.DataFrame( map );

  # criando o filtro
  filter = df["age"] >= 18;

  # Filtrando a lista
  filteredList = df[ filter ];

  print ( df );
  print("----------------------");
  print( filteredList )

filterDataframe()

        name  age        location
0   Huguinho   28          Santos
1  Student 1   18       São Paulo
2  Student 2   32  Rio de Janeiro
3  Student 3   17       São Paulo
4  Student 4   14       São Paulo
----------------------
        name  age        location
0   Huguinho   28          Santos
1  Student 1   18       São Paulo
2  Student 2   32  Rio de Janeiro

In [11]:
def stringDataframe():

  map = {
      "name" : ["Huguinho", "Student 1", "Student 2", "Student 3", "Student 4"],
      "age" : [ 28, 18, 32, 17, 14 ],
      "location" : ["santos", "são Paulo", "rio de Janeiro", "são Paulo", "São Paulo"]
  }

  df = pd.DataFrame( map );


  print("original dataframe")
  print ( df );
  print("-------------------------------------------");

  # maiúscula
  print()
  print("Upper case")
  print( df["location"].str.upper() )
  print("--------------------------------------------");

  print()
  print("Upper in dataframe")
  df["location"] = df["location"].str.upper()
  print( df );
  print("------------------------------------------");

  # Somente a primeira maiuscula
  print()
  print("Capitalize")
  df["location"] = df["location"].str.capitalize()
  print( df );
  print("------------------------------------------");

  # Somente a primeira de cada palavra
  print()
  print("Title")
  df["location"] = df["location"].str.title()
  print( df );
  print("------------------------------------------");

stringDataframe()

original dataframe
        name  age        location
0   Huguinho   28          santos
1  Student 1   18       são Paulo
2  Student 2   32  rio de Janeiro
3  Student 3   17       são Paulo
4  Student 4   14       São Paulo
-------------------------------------------

Upper case
0            SANTOS
1         SÃO PAULO
2    RIO DE JANEIRO
3         SÃO PAULO
4         SÃO PAULO
Name: location, dtype: object
--------------------------------------------

Upper in dataframe
        name  age        location
0   Huguinho   28          SANTOS
1  Student 1   18       SÃO PAULO
2  Student 2   32  RIO DE JANEIRO
3  Student 3   17       SÃO PAULO
4  Student 4   14       SÃO PAULO
------------------------------------------

Capitalize
        name  age        location
0   Huguinho   28          Santos
1  Student 1   18       São paulo
2  Student 2   32  Rio de janeiro
3  Student 3   17       São paulo
4  Student 4   14       São paulo
------------------------------------------

Title
        name  age        location
0   Huguinho   28          Santos
1  Student 1   18       São Paulo
2  Student 2   32  Rio De Janeiro
3  Student 3   17       São Paulo
4  Student 4   14       São Paulo
------------------------------------------

In [12]:
def renameDataframe():

  map = {
      "name" : ["Huguinho", "Student 1", "Student 2", "Student 3", "Student 4"],
      "age" : [ 28, 18, 32, 17, 14 ],
      "location" : ["Santos", "São Paulo", "Rio de Janeiro", "São Paulo", "São Paulo"]
  }

  df = pd.DataFrame( map );

  # renomeando
  df = df.rename(columns={"age": "idade", "location": "localizacao"})

  print ( df );
  print("----------------------");

renameDataframe()

        name  idade     localizacao
0   Huguinho     28          Santos
1  Student 1     18       São Paulo
2  Student 2     32  Rio de Janeiro
3  Student 3     17       São Paulo
4  Student 4     14       São Paulo
----------------------

In [13]:
def jsonDataframe():

  map = {
      "name" : ["Huguinho", "Student 1", "Student 2", "Student 3", "Student 4"],
      "age" : [ 28, 18, 32, 17, 14 ]
  }

  df = pd.DataFrame( map );

  # json
  json = df.to_json(orient="records")

  print ( df );
  print("----------------------");
  print( json )

jsonDataframe()

        name  age
0   Huguinho   28
1  Student 1   18
2  Student 2   32
3  Student 3   17
4  Student 4   14
----------------------
[{"name":"Huguinho","age":28},{"name":"Student 1","age":18},{"name":"Student 2","age":32},{"name":"Student 3","age":17},{"name":"Student 4","age":14}]

In [15]:
def readCsv():
  url = "https://raw.githubusercontent.com/huguinho-alves/python_aceleracao_everys/main/arquivo.csv"
  df = pd.read_csv( url )

  print( df )

readCsv()

       name                title
0  Huguinho  Expert IT Architect
1  Student1              student
2  Student2              student

### API Rest Service ============

In [ ]:
!pip install flask flask-ngrok

In [ ]:
# Criando o server
import json

from flask_ngrok import run_with_ngrok
from flask import Flask, request, make_response

app = Flask(__name__)

run_with_ngrok(app)   #starts ngrok when the app is run
@app.route("/", methods = ['GET', 'POST', 'DELETE'])
def home():

    pessoas = [{"nome": "Bruno Rocha"},
               {"nome": "Arjen Lucassen"},
               {"nome": "Anneke van Giersbergen"},
               {"nome": "Steven Wilson"}]
    response = make_response(json.dumps(pessoas))
    response.content_type = "application/json"

    return response

    #return "<h1>Running Flask on Google Colab!</h1>"
  
app.run()